# SPDX-License-Identifier: AGPL-3.0-or-later | Commercial license available
# © Concepts 1996–2026 Miroslav Šotek. All rights reserved.
# © Code 2020–2026 Miroslav Šotek. All rights reserved.
# ORCID: 0009-0009-3560-0851
# Contact: www.anulum.li | protoscience@anulum.li
# scpn-quantum-control — Hashed SC-NeuroCore Integration Dependency
sc-neurocore==3.15.33 \
    --hash=sha256:830a81d6e5868af1856ac0a2288a835259a051c7e6e5c37e7a88ec3d8a627b4e \
    --hash=sha256:9b04fe81075fcb1b961e232b04555ce8e6c556f0884c4850c65c20b5ec72093e
