# SPDX-License-Identifier: AGPL-3.0-or-later
# Commercial license available
# © Concepts 1996–2026 Miroslav Šotek. All rights reserved.
# © Code 2020–2026 Miroslav Šotek. All rights reserved.
# ORCID: 0009-0009-3560-0851
# Contact: www.anulum.li | protoscience@anulum.li
# scpn-quantum-control — requirements-ci-shell-lint
# Shell script linter and formatter; each wheel carries its binary. The same
# file provisions the project environment and the CI job.
shellcheck-py==0.11.0.1
shfmt-py==4.2.0
