# SPDX-License-Identifier: AGPL-3.0-or-later | Commercial license available
# © Concepts 1996–2026 Miroslav Šotek. All rights reserved.
# © Code 2020–2026 Miroslav Šotek. All rights reserved.
# ORCID: 0009-0009-3560-0851
# Contact: www.anulum.li | protoscience@anulum.li
# scpn-quantum-control — Hashed SC-NeuroCore Integration Dependency
sc-neurocore==3.15.35 \
    --hash=sha256:f6f561fcb663e54f3c35babcf6c6a9187cdb990505b9e938930147b239d4c134 \
    --hash=sha256:867563caa738153358a85b6c030dacc64b53d20f4b12577d09ed885cfbee8660
